{% extends "base.html" %}
{% block content %}
    <h2>Login</h2>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p class="help is-danger"><span>{{ error }}</span><br></p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            
                <label class="label">{{ field.label_tag }}</label>
                <div class="control">{{ field }}</div>
                {% if field.help_text %}
                    <p class="help is-info"><small class="form-text text-muted">{{ field.help_text }}</small></p>
                {% endif %}
                <br>
                {% for error in field.errors %}
                    <p class="help is-danger"><span>{{ error }}</span><br></p>
                {% endfor %}
            
            {% endfor %}
        </div>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{% url 'home' %}" />
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
        <a href="{% url 'home' %}">Back to home</a>
    </p>
{% endblock content %}